.align_self_center {
    align-self: center;
}
#base_footer {
    background-color: white;
    box-shadow: inset 0px 3px 3px dimgray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
}
#base_nav {
    background-color: white;
    box-shadow: 0px 5px 3px dimgray;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: large;
    justify-content: space-around;
    width: 100%;
}
body {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.box_shadow_lr {
    box-shadow: 3px 3px 0px black;
}
.box_shadow_top_bottom {
    box-shadow: inset 0px 3px 3px dimgray, 0px 5px 3px dimgray;
}
.text-align {
    text-align: center;
}