#api_response {
    align-items: center;
    background-color: red;
    color: white;
    display: none;
    /*display: flex;*/
    flex-direction: row;
    font-size: x-large;
    font-weight: bold;
    justify-content: center;
    /*margin-top: 20px;*/
    margin: 20px;
    width: 100%;
}
body {
    /*background-color: ghostwhite;*/
    /*background-image: linear-gradient(180deg, cornflowerblue, white, lightgray, greenyellow);*/
}
#button_create_item {

}
#button_create_item_submit {
    border: black solid 2px;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
    padding: 5px;
}
#button_refresh_list {

}
#button_track_item_submit {
    border: black solid 2px;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
}
.close_div {
    cursor: pointer;
    font-size: large;
    position: absolute;
    padding: 5px;
    right: 0;
    top: 0;
}
#create_item_input {
    align-items: center;
    background-color: white;
    border: black solid 2px;
    display: none;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    position: fixed;
    text-align: center;
    width: 500px;
}
input {
    text-align: center;
    width: 300px;
}
.item_buttons {
    align-items: center;
    background-color: white;
    border: black solid 2px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 7px;
    text-align: center;
    width: 100px;
}
#item_create {}
.item_div {
    align-items: center;
    background-color: white;
    border: black solid 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 5px 5px 5px;
    text-align: center;
    width: 350px;
}
.item_div_nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0px 10px 0px;
    width: 100%;
}
#item_list {
    /*background-color: white;*/
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    /*margin-top: 20px;*/
    padding: 20px;
    width: 100%;
}
#nav_div_mv {
    align-items: center;
    /*background-color: white;*/
    border: black solid 2px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    height: 35px;
    justify-content: center;
    padding: 5px;
    text-align: center;
    width: 100px;
}
#nav_div_tracking {
    align-items: center;
    /*background-color: white;*/
    border: black solid 2px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    height: 35px;
    justify-content: center;
    padding: 5px;
    text-align: center;
    width: 100px;
}
#nav_items {
    /*background-color: white;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    /*margin-top: 20px;*/
    padding: 20px;
}
/*#nav_sort_by {*/
/*    align-items: center;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    text-align: center;*/
/*    width: 100%*/
/*}*/
#notes {
    height: 75px;
    width: 300px;
}
.titles {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
.track_item_form_input {}
#track_item_input {
    align-items: center;
    background-color: white;
    border: black solid 2px;
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 500px;
}