#api_response {
    background-color: chartreuse;
    color: red;
    display: none;
    font-size: x-large;
    width: 100%;
}
#create_item_input {
    background-color: chartreuse;
    display: none;
    width: 100%;
}
#item_create {
    background-color: aqua;
    width: 100%;
}
.item_div {
    background-color: antiquewhite;
    padding: 5px 5px 5px 5px;
    width: 350px;
}
#item_list {
    background-color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}
#submit_create_item {
    background-color: deepskyblue;
    font-size: larger;
    font-weight: bold;
}
.titles {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}