#message_correction {
    background-color: aliceblue;
    margin: 0px auto 0px auto;
    text-align: center;
    width: 100%;
}
#root_item_create {
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}