#back_to_all_items {
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    text-align: center;
    width: 80px;
}
#button_delete_item {
    background-color: red;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 10px;
}
.graph_buttons {
    align-items: center;
    background-color: white;
    border: black solid 2px;
    border-radius: 5px;
    box-shadow: 3px 3px 0px black;
    display: flex;
    flex-direction: column;
    font-size: small;
    font-weight: bold;
    justify-content: center;
    padding: 5px;
    text-align: center;
    width: 80px;
}
#delete_item_popup {
    align-items: center;
    background-color: white;
    border: black solid 2px;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
#item_list {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 15px;
    width: 100%;
}
.item_div {
    background-color: white;
    border: black solid 3px;
    border-radius: 10px;
    /*flex-basis: 600px;*/
    max-width: 600px;
    min-width: 350px;
    padding: 7px;
}
#item_graph {
    background-color: greenyellow;
    width: 100%;
}
#item_graph_canvas {
    background-color: white;
    max-height: 75vh;
    max-width: 1600px;
}
#item_graph_div {
    width: 100%;
}
#nav_graph_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    max-width: 1600px;
    width: 100%;
}
.notes_box {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 5px;
    width: 100%;
}
#root_item_manage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%
}
#statistics {

}
#sub_nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px auto 0 auto;
    max-width: 1600px;
    padding: 10px;
    width: 100%;
}