.button {
    background-color: chartreuse;
}
#div_view_calendar {
    background-color: palegoldenrod;
    display: none;
    width: 100%;
}
#div_view_graph {
    background-color: chartreuse;
    display: none;
    width: 100%;
}
#div_teh_view {
    background-color: palegoldenrod;
    width: 100%;
}
.item_div {
    background-color: antiquewhite;
    border: black solid 3px;
    padding: 5px 5px 5px 5px;
    width: 350px;
}
#items {
    background-color: azure;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}
#nav_view_type {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
}
#root_views_mangage {
    background-color: darkseagreen;
    width: 100%;
}
#view_item_bucket {
    background-color: beige;
}
#views_saved {
    background-color: lavender;
}
