#button_view_generate {
    background-color: #BFDDE0;
    height: 30px;
    width: 100px;
}
#button_view_save {
    background-color: darkorange;
    height: 30px;
    width: 100px;
}
.center_span {
    text-align: center;
    text-decoration: underline;
}
#div_view_calendar {
    background-color: palegoldenrod;
    display: none;
    width: 100%;
}
#div_view_graph {
    display: none;
    position: relative;
    width: 100%;
}

.graph_buttons {
    align-items: center;
    border: lightskyblue solid 3px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: small;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 80px;
}
.item_div {
    border: black solid 5px;
    padding: 5px 5px 5px 5px;
    width: 300px;
}
#items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10px;
    width: 100%;
}
#nav_graph_buttons {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;
    width: 100%;
}
#nav_view_type {
    display: none;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
}
#root_views_mangage {
    width: 100%;
}
#view_item_bucket {
    background-color: beige;
    display: none;
    flex-direction: row;
    gap: 20px;
}
#view_item_bucket_msg {
    display: none;
    padding: 5px;
    text-align: center;
    width: 100%;
}
.view_type_button {
    align-items: center;
    background-color: azure;
    border: black solid 3px;
    border-radius: 5px;
    display: flex;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    text-align: center;
    width: 150px;
}
#views_saved {
    background-color: lavender;
}
