<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" content="width=device-width, initial-scale=1" name="viewport">
        {% block title %}
        {% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        {% block css %}
        {% endblock %}
        {% block javascript_head %}
        {% endblock %}
    </head>
<body>
    <div id="base_nav">
        {% if not current_user.is_authenticated %}
            <div>
             <a href="{{ url_for('create_account') }}"><h2>create account</h2></a>
            </div>
            <div>
                 <a href="{{ url_for('login') }}"><h2>login</h2></a>
            </div>
        {% else %}
            <div>
                <a href="{{ url_for('logout') }}"><h2>logout</h2></a>
            </div>
            <div>
                <a href="{{ url_for('account') }}"><h2>account</h2></a>
            </div>
            <div>
                <a href="{{ url_for('views_manage') }}"><h2>views</h2></a>
            </div>
            <div>
                <a href="{{ url_for('items_manage') }}"><h2>items</h2></a>
            </div>
        {% endif %}
    </div>
    {% block body %}
    {% endblock %}
    <div class="border_box " id="base_footer">
        <div>tracking © 2024 by alex haas</div>
    </div>
    {% block javascript_footer %}
    {% endblock %}
</body>
</html>