{% extends 'base.html' %}
{% block title %}
    <title>tracking - console</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/console.css') }}">
{% endblock %}
{% block body %}
    welcome to tracking!
    <br>
    message: {{ message }}
    <br>
    email: {{ email }}
    <br>
    password: {{ password }}
    <br>
    username: {{ current_user.username }}
    <div id="console_nav">
        <div><a href="{{ url_for('item_create') }}">create new item</a></div>
        <div><a href="{{ url_for('items_manage') }}">manage items</a></div>
        <div>track item</div>
        <div>manage views</div>
    </div>
    <div class="console_view">
        main view here
    </div>
{% endblock %}