{% extends 'base.html' %}
{% block title %}
    <title>tracking - home</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block body %}
    welcome to tracking!
    <br>
    {{ message }}
    <br>
    {{ current_user.username }}
    <div id="index_login">
        <div id="div_form_login">
            <form id="form_login" method="post" name="form_login">
                email: <input autocomplete="off" autofocus id="input_email" name="input_email" placeholder="email..." required type="email">
                <br>
                password: <input autocomplete="off" id="input_password" name="input_password" placeholder="password..." required>
                <br>
                <button type="submit">submit</button>
            </form>
        </div>
    </div>
{% endblock %}