{% extends 'base.html' %}
{% block title %}
    <title>tracking - manage items</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/items_manage.css') }}">
{% endblock %}
{% block body %}
    {{ message_correction }}
    <div id="r_dev">
        REFRESH LIST NOW
    </div>
    <div id="create_item_button">
        CREATE ITEM
    </div>
    <div id="create_item_input">
        <form id="item_create" method="post" name="item_create">
            <label>name: <input autocomplete="off" id="name" name="name" required type="text"></label>
            <br>
            <label>
                keywords: <input autocomplete="off" id="keywords" name="keywords" type="text">
            </label>
            <br>
            <div id="submit_create_item">create item</div>
        </form>
        <br>
        <div id="api_response"></div>
    </div>
    <div class="titles">your trackable items:</div>
    <div id="item_list">
    </div>
{% endblock %}
{% block javascript_footer %}
    <script src="{{ url_for('static', filename='scripts/items_manage.js') }}"></script>
{% endblock %}