{% extends 'base.html' %}
{% block title %}
    <title>tracking - manage items</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/items_manage.css') }}">
{% endblock %}
{% block body %}
    {{ message_correction }}
    <div id="item_create">
        create new item used to go here
    </div>
    <div class="titles">your trackable items:</div>
    <div id="item_list">
        {% for item in items %}
            <div class="item_div">
                {{ item }}
                <br>
                <a href="{{ url_for('item_manage', item_name=item) }}">manage item</a>
                <br>
                <a href="{{ url_for('item_track', item_name=item) }}">track item</a>
            </div>
        {% endfor %}
    </div>
    {% block javascript_footer %}
        <script src="{{ url_for('static', filename='scripts/items_manage.js') }}"></script>
    {% endblock %}
{% endblock %}