{% extends 'base.html' %}
{% block title %}
    <title>tracking - manage items</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/items_manage.css') }}">
{% endblock %}
{% block body %}
    {{ message_correction }}
    <div id="nav_items">
        <div class="box_shadow_lr item_buttons" id="button_refresh_list">
            REFRESH LIST NOW
        </div>
        <div class="box_shadow_lr item_buttons" id="button_create_item">
            CREATE ITEM
        </div>
        <div class="box_shadow_lr item_buttons" id="button_track_item">
            TRACK ITEM
        </div>
    </div>
    <div class="box_shadow_top_bottom" id="create_item_input">
        <label>
            <input autocomplete="off" id="name" placeholder="item name" name="name" required type="text">
        </label>
        <br>
        <label>
            <input autocomplete="off" id="keywords" placeholder="keywords,separated by,commas" name="keywords" type="text">
        </label>
        <br>
        <label>
            <input autocomplete="off" id="item_color" name="item_color" type="color">
        </label>
        <br>
        <div class="box_shadow_lr" id="button_create_item_submit">create item</div>
        <br>
    </div>
    <div class="box_shadow_top_bottom" id="track_item_input">
        <label>
            <select id="choose_item" name="choose_item" title="choose_item"></select>
        </label>
        <br>
        {% for attribute in item_attributes %}
            <label>
                <input autocomplete="off" class="track_item_form_input" id="{{ attribute }}" name="{{ attribute }}" title="{{ attribute }}" value="{{ item_attributes[attribute]['value'] }}" placeholder="{{ item_attributes[attribute]['placeholder'] }}" type="{{ item_attributes[attribute]['type'] }}">
            </label>
            <br>
        {% endfor %}
        <div class="box_shadow_lr" id="button_track_item_submit">
            track item
        </div>
    </div>
    <div id="api_response"></div>
    <div id="item_list"></div>
{% endblock %}
{% block javascript_footer %}
    <script src="{{ url_for('static', filename='scripts/items_manage.js') }}"></script>
{% endblock %}