{% extends 'base.html' %}
{% block title %}
    <title>tracking - item manage</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/item_manage.css') }}">
{% endblock %}
{% block javascript_head %}
    <!-- chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js" integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{#    <script>g_item_name='{{ item_name }}';g_item_docs='{{ item_docs }}';</script>#}
    <script>g_item_name='{{ item_name }}';</script>
    <!-- moment.js -->
    <!-- date-fns -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
{% endblock %}
{% block body %}
    <div id="sub_nav">
        <div id="statistics">
            put some statistics here?
        </div>
        <a href="{{ url_for('items_manage') }}">
            <div class="border_black_dotted box_shadow_lr" id="back_to_all_items">
                back to all items
            </div>
        </a>
    </div>
    <div id="root_item_manage">
        <canvas id="item_graph_canvas"></canvas>
        <div id="item_graph_div"></div>
        <div id="nav_graph_buttons">
            <div class="graph_buttons" id="graph_button_all_time">
                All time
            </div>
            <div class="graph_buttons" id="graph_button_all_time_today">
                All time to today
            </div>
            <div class="graph_buttons" id="graph_button_today">
                Today
            </div>
            <div class="graph_buttons" id="graph_button_last_week">
                last week
            </div>
            <div class="graph_buttons" id="graph_button_last_month">
                last month
            </div>
            <div class="graph_buttons" id="graph_button_last_qtr">
                last qtr
            </div>
            <div class="graph_buttons" id="graph_button_last_year">
                last year
            </div>
            <div class="graph_buttons">
                range?
            </div>
        </div>
        <div id="nav_sort_by">
            <label>
                <select id="sort_items_input" name="sort_items_input" title="sort_items_input">
                    <option disabled selected value="">sort by...</option>
                    <option value="date,tracked,ascending" title="date tracked: ascending">date tracked: ascending</option>
                    <option value="date,tracked,descending" title="date tracked: descending">date tracked: descending</option>
                    <option value="intensity,ascending" title="intensity: ascending">intensity: ascending</option>
                    <option value="intensity,descending" title="intensity: descending">intensity: descending</option>
                    <option value="note,length,ascending" title="note length: ascending">note length: ascending</option>
                    <option value="note,length,descending" title="note length: descending">note length: descending</option>
                </select>
            </label>
        </div>
        <div id="item_list"></div>
    </div>
{% endblock %}
{% block javascript_footer %}
    <script src="{{ url_for('static', filename='scripts/shared_code.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/item_manage.js') }}"></script>
{% endblock %}