{% extends 'base.html' %}
{% block title %}
    <title>tracking - item create</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/item_create.css') }}">
{% endblock %}
{% block body %}
    <!-- HERE -->
    <div id="root_item_create">
        <div id="message_correction">
            {{ error_msg }}
        </div>
        <div>Fill out only the fields you want your trackable item to have:</div>
        <div>
            <form id="item_create" method="post" name="item_create">
                <label>name: <input autocomplete="off" id="name" name="name" required type="text"></label>
                <br>
                <label>
                    keywords: <input autocomplete="off" id="keywords" name="keywords" type="text">
                </label>
                <br>
                <button type="submit">create item</button>
            </form>
        </div>
        <div>
            your trackable item will have the additional following attributes:
            <br>
            {% for attribute in item_attributes %}
                {{ attribute }}
                <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}