{% extends 'base.html' %}
{% block title %}
    <title>tracking - item manage</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/item_manage.css') }}">
{% endblock %}
{% block javascript_head %}
    <script src="{{ url_for('static', filename='scripts/chartjs/node_modules/chart.js/dist/chart.umd.js') }}"></script>
    <script>g_item_name='{{ item_name }}'</script>
{% endblock %}
{% block body %}
    this is item_manage
    <br>
    <a href="{{ url_for('items_manage') }}">back to managing all items</a>
    <br>
    <div id="root_item_manage">
        <div id="item_doc_list"></div>
    </div>
{% endblock %}
{% block javascript_footer %}
    <script src="{{ url_for('static', filename='scripts/item_manage.js') }}"></script>
{% endblock %}