{% extends 'base.html' %}
{% block title %}
    <title>tracking - views_manage</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/views_manage.css') }}">
{% endblock %}
{% block body %}
    <div id="root_views_mangage">
        <div id="div_teh_view">
            <div id="div_view_calendar">
                the calendar view
            </div>
            <div id="div_view_graph">
                <canvas id="item_graph_canvas"></canvas>
            </div>
        </div>
        <div id="nav_view_type">
            <div class="button" id="button_view_graph">
                graph view button
            </div>
            <div class="button" id="button_view_calendar">
                calendar view button
            </div>
        </div>
        <div id="views_saved">
            views_saved
        </div>
        <div id="view_item_bucket">
            view_item_bucket
        </div>
        <div id="items"></div>
    </div>
{% endblock %}
{% block javascript_footer %}
    <script src="{{ url_for('static', filename='scripts/views_manage.js') }}"></script>
{% endblock %}