{% extends 'base.html' %}
{% block title %}
    <title>tracking - views_manage</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/views_manage.css') }}">
{% endblock %}
{% block body %}
    <div id="root_views_mangage">
        <div id="div_teh_view">
            the main view is here: graph view, calendar view, etc...
        </div>
        <div id="nav_view_type">
            <div class="button" id="view_graph">
                graph view
            </div>
            <div class="button" id="view_calendar">
                calendar view
            </div>
        </div>
        <div id="views_saved">
            views_saved
        </div>
        <div id="view_item_bucket">
            view_item_bucket
        </div>
        <div id="items">
            items here
        </div>
    </div>
{% endblock %}